@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-bg-color: hsl(221, 100%, 96%);
    --font: "Hanken Grotesk", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-bg-color);
    font-size: 18px;

}

main {
    background-color:white;
    height: 750px;
    width: 360px;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    font-family: var(--font);
}

div#score {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0px 0px 30px 30px;

    text-align: center;
    color: white;
    padding: 20px;
}

div#number {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

p#text1 {
    font-size: 40px;
    font-weight: 700;
}

p#text2 {
    font-size: 13px;
    font-weight: 300;
    color: hsla(222, 100%, 96%, 0.473);
}

p#tittle1 {
    color: rgba(255, 255, 255, 0.76);
}

p#tittle2 {
    font-weight: 500;
    font-size: 25px;
}

p#last-text {
    color: rgba(255, 255, 255, 0.664);
    font-size: 16px;
    padding: 20px;
}

div#summary {
    padding: 25px;
    font-weight: 600;
}

div#summary > p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 10px;
    font-size: 15px;
}

span.text {
    width: 60px;
    margin-right: 140px;
}

span.score {
    color: hsl(224, 30%, 27%);
}

div#summary img {
    padding-left: 10px;
    padding-right: 10px;
}

div#summary > p {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#summary > p#reaction {
    background-color: hsla(0, 100%, 67%, 0.030);
    color: hsl(0, 100%, 67%);
}

div#summary > p#memory {
    background-color: hsla(39, 100%, 56%, 0.030);
    color: hsl(39, 100%, 56%);
}

div#summary > p#verbal {
    background-color: hsla(120, 100%, 25%, 0.030);
    color: hsl(166, 100%, 37%);
}

div#summary > p#visual {
    background-color: hsla(234, 85%, 45%, 0.030);
    color: hsl(234, 85%, 45%);
}

div#summary > button {
    background-color: hsl(224, 30%, 27%);
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    border: none;
}

.attribution {
    position: fixed;
    bottom: 0;
}

div#summary > button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    
}

@media screen and (min-width: 700px) {
    main {
        grid-template: 1fr / 1fr 1fr;
        width: 700px;
        height: 450px;
        border-radius: 30px;
    }

    div#score {
        border-radius: 30px;
    }

    p#tittle1 {
        padding-top: 10px;
    }

    div#number {
        height: 160px;
        width: 160px;
        margin-top: 30px;
    }

    p#tittle2 {
        padding-top: 10px;
    }

    p#last-text {
        padding-left: 45px;
        padding-right: 45px;
    }

    div#summary {
        border-radius: 0px 30px 30px 0px;
    }

    div#summary > button {
        margin-top: 30px;
    }
}